<%= render 'header' %>

<div class="container">
  <div class="row movie-display">
    <div class="col-lg-6">
      <img class="img-display-poster" src="<%= @movie.poster_url %>" >
    </div>
    <div class="col-lg-6 movie-display-content">
      <p class="movie-title"><%= @movie.title %></p>
      <p><span class="movie-rating"><%= @movie.rating %></span></p>

        <p>
          <%= @movie.overview %>
        </p>

        <div>
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/<%= @movie.trailer %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>


    </div>
  </div>
</div>


